/Projeto_1/nbproject/private/
/Projeto_1/build/
/projeto_avaliacao_1/nbproject/private/
/projeto_avaliacao_1/build/
/projeto_avaliacao_1/dist/
/ProjetoAvaliacao1/nbproject/private/
/ProjetoAvaliacao1/build/
/Projeto_2/nbproject/private/
ProjetoAvaliacao1
/Projeto_2/build/
/projeto_3/nbproject/private/
/projeto_3/build/
/projeto_3/dist/
/Projeto_2/dist/
